@define-color base_active #2f51a0;
@define-color base_insensitive #303030;
@define-color base_normal #121212;
@define-color base_prelight #002849;
@define-color base_selected #003263;

@define-color bg_active #303030;
@define-color bg_insensitive #505050;
@define-color bg_normal #464646;
@define-color bg_prelight #003263;
@define-color bg_selected #002849;

@define-color fg_active #eaeaea;
@define-color fg_insensitive #b0b0b0;
@define-color fg_normal #fff;
@define-color fg_prelight #fcfcfc;
@define-color fg_selected #fcfcfc;

@define-color text_active #fcfcfc;
@define-color text_insensitive #fcfcfc;
@define-color text_normal #fcfcfc;
@define-color text_prelight #fcfcfc;
@define-color text_selected #fcfcfc;

@define-color text_link #00f;

@define-color scrollbar_normal #8d8d8d;

@define-color progressbar_bg_normal #000;

@define-color transparent rgba(0, 0, 0, 0);

@define-color info #465046;
@define-color warning #806046;
@define-color question #464680;
@define-color error #804646;

@define-color bg_insensitive_active mix(@bg_insensitive, @bg_active, 0.5);


* {
	-GtkArrow-arrow-scaling: 0.6;
	-GtkButton-child-displacement-x: 1;
	-GtkButton-child-displacement-y: 1;
	-GtkButton-default-border: 0;
	-GtkButton-image-spacing: 0;
	-GtkButton-interior-focus: true;
	-GtkButton-inner-border: 3;
	-GtkCheckButton-indicator-size: 14;
	-GtkCheckMenuItem-indicator-size: 14;
	-GtkEntry-inner-border: 2;
	-GtkEntry-progress-border: 0; 
	-GtkExpander-expander-size: 10;
	-GtkHTML-link-color: @text_link;
	-GtkIMHtml-hyperlink-color: @text_link;
	-GtkMenu-horizontal-padding: 0;
	-GtkMenu-vertical-padding: 0;  
	-GtkMenuItem-arrow-scaling: 0.5;
	-GtkMenuBar-internal-padding: 0;
	-GtkNotebook-tab-overlap: 0;
	-GtkPaned-handle-size: 3;
	-GtkProgressBar-min-horizontal-bar-height: 20;
	-GtkProgressBar-min-vertical-bar-width: 20;
	-GtkRange-trough-border: 1;
	-GtkRange-slider-width: 9;
	-GtkRange-stepper-size: 9;
	-GtkRange-trough-under-steppers: 1;
	-GtkRange-stepper-spacing: 0;

	-GtkScrollbar-activate-slider: 1;
	-GtkScrollbar-trough-border: 2px;
	-GtkScrollbar-slider-width: 10px;
	-GtkScrollbar-min-slider-length: 30;
	-GtkScrollbar-has-forward-stepper: 1;
	-GtkScrollbar-has-backward-stepper: 1;
	-GtkScrollbar-has-secondary-forward-stepper: 0;
	-GtkScrollbar-has-secondary-backward-stepper: 0;

	-GtkScrolledWindow-scrollbar-spacing: 0;
	-GtkScrolledWindow-scrollbars-within-bevel: 1;

	-GtkSeparatorMenuItem-horizontal-padding: 0;
	-GtkStatusbar-shadow-type: none;
	-GtkTextView-error-underline-color: @error;
	-GtkToolButton-icon-spacing: 6;
	-GtkToolItemGroup-expander-size: 11;
	-GtkToolbar-internal-padding: 0;
	-GtkTreeView-expander-size: 4;
	-GtkTreeView-vertical-separator: 0;
	-GtkWidget-wide-separators: 1;
	-GtkWidget-separator-width: 2px;
	-GtkWidget-separator-height: 2;
	-GtkWidget-focus-padding: 0;
	-GtkWidget-focus-line-width: 1px;
	-GtkWidget-link-color: @text_link;
	-GtkWidget-visited-link-color: @text_link;
	-GtkWindow-resize-grip-default: true;
	-WnckTasklist-fade-overlay-rect: 0;

	border-width: 1px;
}


/**************
 * background *
 **************/

.background {
	color: @fg_normal;
	background-color: @bg_normal;
}

.background.client-decorated {
	background-color: transparent;
}

.background.window-content {
	background-color: @bg_normal;
}

/**********
 * states *
 **********/

GtkClutterOffscreen {
	color: @fg_normal;
	background-color: @bg_normal;
}

* {
	/* inherit colors from parent */
	color: inherit;
	background-color: inherit;
}

*:active {
	color: @fg_active;
	background-color: @bg_active;
}

*:insensitive {
	color: @fg_insensitive;
	background-color: @bg_insensitive;
}

*:insensitive:active {
	color: inherit;
	background-color: @bg_insensitive_active;
}

*:prelight, *:hover {
	color: @fg_prelight;
	background-color: @bg_prelight;
}

*:selected {
	color: @fg_selected;
	background-color: @bg_selected;
}

/***********
 * Borders *
 ***********/

.button,
.notebook,
.check,
.check row,
.radio,
.radio row,
GtkScale.slider,
GtkSwitch {
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	border-color: shade(@bg_normal, 0.7);
}

.button:insensitive,
.frame:insensitive,
.notebook:insensitive,
.check:insensitive,
.check row:insensitive,
.radio:insensitive,
.radio row:insensitive,
GtkScale.slider:insensitive,
GtkSwitch:insensitive {
	border-style: solid;
	border-width: 1px;
	border-radius: 2px;
	border-color: shade(@bg_insensitive, 0.7);
}

.entry {
	border-style: solid;
	border-width: 1px;
	border-top-color: shade(@bg_normal, 0.9);
	border-right-color: shade(@bg_normal, 1.1);
	border-bottom-color: shade(@bg_normal, 1.1);
	border-left-color: shade(@bg_normal, 0.9);
}

/**************** widgets ***************/

/***********
 * Buttons *
 ***********/

.button {
	padding: 2px 4px 2px 4px;
	background-image: -gtk-gradient (linear, left top, left bottom, from(shade(@bg_normal, 1.05)), to(shade(@bg_normal, 0.85)));
}

.button:prelight,
.button:hover {
	background-image: none;

	border-color: shade(@bg_prelight, 0.8);
}

.button:selected {
	background-image: -gtk-gradient (linear, left top, left bottom, from(shade(@bg_selected, 1.05)), to(shade(@bg_selected, 0.85)));

	border-color: shade(@bg_selected, 0.8);
}

.button:active {
	background-image: -gtk-gradient (linear, left top, left bottom, from(shade(@bg_active, 1.05)), to(shade(@bg_active, 0.85)));
}

.button:insensitive:active {
	background-image: -gtk-gradient (linear, left top, left bottom, from(shade(@bg_insensitive_active, 1.05)), to(shade(@bg_insensitive_active, 0.85)));
}

row:selected {
	background-image: -gtk-gradient (linear, left top, left bottom, from(shade(@bg_selected, 1.05)), to(shade(@bg_selected, 0.85)));
}

/****************
 * Checkbuttons *
 ****************/

.check,
.check row,
.radio,
.radio row {
	background-color: @base_normal;
}

.radio,
.radio row {
	border-radius: 16px;
}

.check:insensitive,
.radio:insensitive {
	background-color: @bg_insensitive;
}

.check:active,
.radio:active {
	background-color: @bg_selected;
}

/************
 * Columns *
 ************/

column-header .button,
column-header .button:active,
.notebook column-header .button,
.notebook column-header .button:active {
	border-width: 0 1px 0 0;
}

column-header:nth-child(last) .button {
	border: none;
}

/****************
 * Text Entries *
 ****************/

.entry,
.toolbar .entry,
GtkTextView {
	padding: 2px;

	color: @text_normal;
	background-color: @base_normal;
}

.entry:insensitive,
.toolbar .entry:insensitive,
GtkTextView:insensitive {
	color: @text_insensitive;
	background-color: @base_insensitive;
}

/************
 * ComboBox *
 ************/

GtkComboBox.combobox-entry .entry {
	border-right: none;
}

/************
 * iconview *
 ************/

GtkIconView.view.cell:selected,
GtkIconView.view.cell:selected:focused {
	background: @bg_selected;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	border-color: shade(@bg_selected, 0.7);
}

/*********
 * image *
 *********/

GtkImage,
GtkImage:active,
GtkImage:insensitive {
	background-color: transparent;
}

/*********
 * label *
 *********/

GtkLabel,
GtkLabel:active,
GtkLabel:insensitive {
	background-color: transparent;
}

/***********
 * infobar *
 ***********/

.info {
	background-color: @info;
}

.warning {
	background-color: @warning;
}

.question {
	background-color: @question;
}

.error {
	background-color: @error;
}

/*********
 * Menus *
 *********/

.menu {
	padding: 2px;

	border-style: solid;
	border-width: 1px;
	border-color: shade(@bg_normal, 0.9);
}

.menuitem {
	padding: 3px 4px 2px 2px;
}

.menuitem:hover,
.menuitem:prelight,
.menuitem *:hover,
.menuitem *:prelight {

}

.menubar {
	padding: 2px;

	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: shade(@bg_normal, 0.8);
}

.menubar .menuitem {
	padding: 4px 5px 4px 4px;
}

.menubar.menuitem:prelight {
	background-color: @bg_selected;

        border-style: solid;
        border-width: 1px;
        border-color: shade(@bg_selected, 0.7);
}

/******************
 * resize-grip *
 ******************/

.grip {
	background-color: transparent;
}

/*******************
 * Notebook & Tabs *
 *******************/

.notebook tab {
	padding: 3px;

	background-color: @bg_active;

	border-width: 0;
}

.notebook tab:active {
	background-color: @bg_normal;

	border-width: 1px;
	border-color: shade(@bg_normal, 0.7);
}

/******************
 * pane separator *
 ******************/

.sidebar .pane-separator,
.pane-separator {
	background-color: @transparent;

	border-style: none;
}

.pane-separator:hover,
.pane-separator:prelight {
	background-color: @bg_selected;
}

/***************
 * progressbar *
 ***************/

GtkProgressBar {
	padding: 3px;
}

GtkProgressBar.trough {
	background-color: @progressbar_bg_normal;

	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	border-color: shade(@bg_normal, 0.7);
}

.progressbar {
	background-image: -gtk-gradient (linear, left top, left bottom, from (shade (@bg_selected,1.24)), to (shade (@bg_selected,1.18)));

	border-width: 0;
}

/************
 * scale *
 ************/

GtkScale {
	-GtkScale-slider-length: 30;
	-GtkRange-slider-width: 12;
	-GtkRange-trough-border: 1px;
	-GtkRange-show-fill-level: 1;
}

GtkScale.trough {
	background-color: @bg_selected;

	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	border-color: shade(@bg_normal, 0.7);
}

GtkScale.slider {
	background-image: -gtk-gradient (linear, left top, left bottom, from(shade(@bg_normal, 1.05)), to(shade(@bg_normal, 0.85)));
}

GtkScale.slider.vertical {
	background-image: -gtk-gradient (linear, left top, right top, from(shade(@bg_normal, 1.05)), to(shade(@bg_normal, 0.85)));
}

GtkScale.slider:hover,
GtkScale.slider:prelight {
	background-image: none;

	border-color: shade(@bg_prelight, 0.8);
}

GtkScale.trough:insensitive {
	background-color: @bg_insensitive;
}

GtkScale.slider:insensitive {
	background-image: -gtk-gradient (linear, left top, left bottom, from(shade(@bg_insensitive, 1.05)), to(shade(@bg_insensitive, 0.85)));	
}

GtkScale.slider.vertical:insensitive {
	background-image: -gtk-gradient (linear, left top, right top, from(shade(@bg_insensitive, 1.05)), to(shade(@bg_insensitive, 0.85)));
}

/*************
 * scrollbar *
 *************/

.scrollbar {
	-GtkRange-trough-border: 0;
	-GtkRange-arrow-scaling: 0.8;
	-GtkRange-slider-width: 12;
	-GtkRange-stepper-size: 12;
	-GtkScrollbar-min-slider-length: 30;
	-GtkRange-stepper-spacing: 0;
	-GtkRange-trough-under-steppers: 1;
}

.scrollbar.trough {
	background-color: @bg_normal;

	border: none;
	border-radius: 2px;
}

.scrollbar.slider {
	border-style: solid;
	border-width: 1px;
	border-color: lighter(@bg_normal);
}

.scrollbar.slider.horizontal {
	background-image: -gtk-gradient (linear, left top, left bottom, from (@scrollbar_normal), to (darker(@scrollbar_normal)));
}

.scrollbar.slider.vertical {
	background-image: -gtk-gradient (linear, left top, right top, from (@scrollbar_normal), to (darker(@scrollbar_normal)));
}

.scrollbar.slider.horizontal:hover,
.scrollbar.slider.horizontal:prelight {
	background-image: -gtk-gradient (linear, left top, left bottom, from (@bg_prelight), to (darker(@bg_prelight)));

	border-color: lighter(@bg_prelight);
}

.scrollbar.slider.vertical:hover,
.scrollbar.slider.vertical:prelight {
	background-image: -gtk-gradient (linear, left top, right top, from (@bg_prelight), to (darker(@bg_prelight)));

	border-color: lighter(@bg_prelight);
}

.scrollbar.button {
	background-image: none;

	border-color: transparent;
}

.scrollbar.button:prelight,
.scrollbar.button:hover {
	background-color: @bg_normal;
}

/*************
 * separator *
 *************/

.separator {
	border-style: solid;
	border-width: 1px;
	border-color: shade(@bg_normal, 0.8);
}

/***************
 * Spinbuttons *
 ***************/

.spinbutton:insensitive {
	color: @fg_insensitive;;
}

/***********
 * spinner *
 ***********/

/* not necessary to style */

/*************
 * statusbar *
 *************/

/* live without it */

/************
 * Switches *
 ************/

GtkSwitch,
GtkSwitch:active {
	background-image: -gtk-gradient (linear, left top, left bottom, from(shade(@bg_normal, 1.05)), to(shade(@bg_normal, 0.85)));
}

GtkSwitch.trough {
	background-image: -gtk-gradient (linear, left top, left bottom, from(shade(@bg_normal, 0.85)), to(shade(@bg_normal, 1.05)));
}

GtkSwitch.trough:active {
	background-image: -gtk-gradient (linear, left top, left bottom, from(shade(@bg_active, 0.85)), to(shade(@bg_active, 1.05)));
}

GtkSwitch:insensitive {
	background-image: -gtk-gradient (linear, left top, left bottom, from(shade(@bg_insensitive, 1.05)), to(shade(@bg_insensitive, 0.85)));
}

GtkSwitch:insensitive:active {
	background-image: -gtk-gradient (linear, left top, left bottom, from(shade(@bg_insensitive_active, 1.05)), to(shade(@bg_insensitive_active, 0.85)));
}

GtkSwitch.trough:insensitive {
	background-image: -gtk-gradient (linear, left top, left bottom, from(shade(@bg_insensitive, 0.85)), to(shade(@bg_insensitive, 1.05)));
}

GtkSwitch.trough:insensitive:active {
	background-image: -gtk-gradient (linear, left top, left bottom, from(shade(@bg_insensitive_active, 0.85)), to(shade(@bg_insensitive_active, 1.05)));
}

/***********
 * toolbar *
 ***********/

.toolbar {
	padding: 0 4px 0 4px;

	background-image: -gtk-gradient (linear, left top, left bottom, from(shade(@bg_normal, 1.05)), to(shade(@bg_normal, 0.85)));

	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: shade(@bg_normal, 0.9);
}

.toolbar .button {
	padding: 6px 4px 6px 4px;
}

.toolbar .separator,
.toolbar GtkSeparatorToolItem {
	border-style: solid;
	border-width: 0 1px 0 0;
	border-color: shade(@bg_normal, 0.9);
}

GtkHandleBox {
	border-style: solid;
	border-color: shade(@bg_normal, 1.08);
	border-width: 1px 1px 1px 5px;
}

GtkHandleBox .snap-edge {
  background-image: -gtk-gradient (linear, left top, left bottom, from (shade (#00f, 0.99)), to (shade (#00f,0.9)));
}

/***********
 * tooltip *
 ***********/

.tooltip {
	color: @text_normal;
	background-color: @base_normal;

	border-width: 1px;
	border-color: shade(@base_normal, 1.3);
}

/*************
 * Treeviews *
 *************/

GtkTreeView row:nth-child(even),
GtkTreeView row:nth-child(even):hover {
	background-color: @base_normal;
}

GtkTreeView row:nth-child(odd),
GtkTreeView row:nth-child(odd):hover {
	background-color: shade (@base_normal, 1.5);

}

/*************
 * Assistant *
 *************/

GtkAssistant .sidebar {
	padding: 12px;

	background-color: @base_normal;

	border-width: 0 1px 0 0;
	border-radius: 0;
}

GtkAssistant .sidebar .highlight {
	font: bold;
	color: @fg_normal;
}

GtkHTML {
    color: @fg_normal;
    background-color: @bg_normal;
}
